<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"> 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- console -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %c - %m%n"/>
        </layout>
    </appender>
    
    <appender name="OperateLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="c:/easyblog/log/OperateLogFile.log" />
        <param name="Append" value="true"/>  
        <param name="MaxFileSize" value="100000MB"/>  
        <param name="MaxBackupIndex" value="20"/>    
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d %t %p [%c:%M:%L] - %m%n" />  
        </layout>  
        <filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="INFO" />  
            <param name="levelMax" value="INFO" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>
    </appender> 
	
	 <logger name="OperateLogFile" additivity="false">  
        <level value="info" />  
        <appender-ref ref="OperateLogFile" />
        <appender-ref ref="console" />
    </logger>


    <appender name="StatLogFile" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="c:/easyblog/log/OperateLogFile.log" />
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="100000MB"/>
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %t %p [%c:%M:%L] - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO" />
            <param name="levelMax" value="INFO" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

    <logger name="StatLogFile" additivity="false">
        <level value="info" />
        <appender-ref ref="StatLogFile" />
    </logger>

    <!-- infofile -->
    <appender name="infoFile" class="org.apache.log4j.DailyRollingFileAppender" >
		<param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <param name="File" value="c:/easyblog/log/OperateLogFile.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %c - %m%n"/>
        </layout>
<!--        <filter class="org.apache.log4j.varia.StringMatchFilter">
        	<param name="StringToMatch" value="AUDIT" />
        	<param name="AcceptOnMatch" value="false" />
    	</filter>-->
    </appender>
    
    <!-- error file -->
    <appender name="errorFile" class="org.apache.log4j.DailyRollingFileAppender" >
		<param name="Append" value="true"/>
        <param name="Threshold" value="ERROR"/>
        <param name="File" value="c:/easyblog/log/OperateLogFile.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %c - %m%n"/>
        </layout>
<!--        <filter class="org.apache.log4j.varia.StringMatchFilter">
        	<param name="StringToMatch" value="slow" />  
        	<param name="AcceptOnMatch" value="false" />  
    	</filter>-->
    </appender>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="console" /> 
        <appender-ref ref="infoFile" /> 
        <appender-ref ref="errorFile" />
    </root>
</log4j:configuration>